[Unit]
Description=check ppt limit and change to 19w if at 15w

[Service]
Type=simple
ExecStart=/usr/bin/ppt19w.sh

[Install]
WantedBy=default.target
