[Unit]
Description=check ppt limit and change to 17w if at 15w

[Service]
Type=simple
ExecStart=/usr/bin/ppt17w.sh

[Install]
WantedBy=default.target
