[Unit]
Description=check ppt limit and change to 20w if at 15w

[Service]
Type=simple
ExecStart=/usr/bin/ppt20w.sh

[Install]
WantedBy=default.target
